.wraper {
    height: 100%;
}
.layoutdiv {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #262626;
}

.buttonsdiv {
    display: flex;
    width: 64%;
    height: 100%;
    margin-left: 18%;
    margin-right: 18%;
}

.discogs-button {
    display: flex;
    width: 100px;
    flex:1;  
}

.account-box {
    display:flex;
    justify-content: right;
    flex: 1;
}

.register-button {
    height: 100%;
    display:inline-flex;
    align-items: center;
    flex: 0 0;
    flex-basis: 11%;
    min-width: 100px;
}

.register-button a {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:60%;
    text-decoration: none;
    background-color: #ead10b;
    border-radius: 5px;
    color: black;
}

.register-button a:hover {
    background-color: #eee38a;
}

.login-button {
    height: 100%;
    display: inline-flex;
    flex: 0 0;
    flex-basis: 11%;
    min-width: 100px;
}

.login-button a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.login-button a:hover {
    background-color: black;
}

.discogs-button a {
    display:inline-flex;
    width: 100px;
    height: 100%;
    align-items: center;
    flex: 0 1;
}

.discogs-button img {
    max-height:70%;
}

.user-menu {
    flex: 0 0;
    flex-basis: 6%;
    min-width: 57px;
    display: block;
    position: relative
}

.user-menu button{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: block;
}

.user-menu img {
    max-height: 70%;
}

.user-menu button:hover{
    background-color: black;
}

.user-submenu {
    float: right;
    display: none;
    width: 200%;
}

.user-submenu ul {
    padding: 0;
    margin: 0;
    width:100%;
    overflow: hidden;
}

.user-submenu ul li {
    display: block;
    width: 100%;
    height: 50px;
}

.logout-button {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.logout-button:hover {
    color: blue;
    text-decoration: underline;
}